<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>GPS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="gps-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">GPS</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="gps-actions">
    <ion-button expand="block" color="primary" (click)="goToHome()">
      <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
      Volver
    </ion-button>
    <ion-button expand="block" color="success" (click)="getCurrentLocation()">
      <ion-icon name="locate-outline" slot="start"></ion-icon>
      Actualizar ubicación
    </ion-button>
  </div>

  <div *ngIf="latitude !== null && longitude !== null" class="gps-info">
    <p><b>Latitud:</b> {{ latitude }}</p>
    <p><b>Longitud:</b> {{ longitude }}</p>
    <a *ngIf="mapUrl" [href]="mapUrl" target="_blank" class="gps-link">
      <ion-icon name="map-outline" style="vertical-align: middle; margin-right: 4px;"></ion-icon>
      Ver en Google Maps
    </a>
  </div>
</ion-content>